body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #9e6b42 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../imgs/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
  background:  #9e6b42;
}

#home-section .fas,
#create-section .fas {
  color: #9e6b42;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#dashboard-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.menus {
  border: #9e6b42 3px solid;
  background: rgba(86, 62, 44, 0.45);
}

/* Slider */
.slick-slide {
  margin: 0px 20px;
}

.logo-carousel {
  overflow: inherit;
  border-top: 1px solid #353535;
  border-bottom: 1px solid #353535;
}

.slick-slide img {
  width: 100%;
}

.slick-track::before,
.slick-track::after {
  display: table;
  content: '';
}

.slick-track::after {
  clear: both;
}

.slick-track {
  padding: 1rem 0;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  background: url(https://raw.githubusercontent.com/solodev/infinite-logo-carousel/master/images/arrow.svg?sanitize=true) center no-repeat;
  color: #fff;
  filter: invert(77%) sepia(32%) saturate(1%) hue-rotate(344deg) brightness(105%) contrast(103%);
  border: none;
  width: 2rem;
  height: 1.5rem;
  text-indent: -10000px;
  margin-top: -16px;
  z-index: 99;
}

.slick-arrow.slick-next {
  right: -40px;
  transform: rotate(180deg);
}

.slick-arrow.slick-prev {
  left: -40px;
}

/* Media Queries */

@media (max-width: 768px) {
  .slick-arrow {
    width: 1rem;
    height: 1rem;
  }

  .tabs{
    width: 75%;
  }
}

@media (min-width: 768px) {

  .tabs{
    width: 55%;
  }
}

.row {
  overflow: hidden;
}

/* JsFiddle Example only/don't use */
.logo-carousel {
  margin-top: 32px;
}

#body{
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
  opacity: 1;
}

.port-item{
  height: 34px;
  width: 100px;
}

.active-tab {
  border-bottom: #fff solid 3px;
}

.list-group-item{
  box-shadow: rgba(0,0,0,0.35) 0px 5px 15px;
}

.showItems{
  background: rgba(51, 51, 51, 0.7);
}

#tabs-controls{
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}






