body {
  background: #333;
  color: #fff;
}

.navbar {
  border-bottom: #9e6b42 3px solid;
  opacity: 0.8;
}

#home-section {
  background: url(../imgs/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}

#home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}

#home-section .home-inner {
  padding-top: 150px;
}

#home-section .card-form {
  opacity: 0.8;
  background:  #9e6b42;
}

#home-section .fas,
#create-section .fas {
  color: #9e6b42;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}

#dashboard-section .fas,
#share-section .fas {
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}

#our_menus .row {
  overflow: auto;
  white-space: nowrap;
  display: inline-block;
}

#our_menus .row .col-6,
#our_menus .row .col-md-4{
  display: inline-block;
}

.menus {
  border: #9e6b42 3px solid;
  background: rgba(86, 62, 44, 0.45);
}


